<section class="login-section">
  <div class="container container-padding-md">
    <div class="row justify-content-sm-center align-items-sm-center h-100">
      <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 mt-5 mt-sm-0">
        <div class="login-card bg-white">
          <div class="login-card-header mb-3 text-center">
            <h2 class="heading-lg text-primary font-weight-700 mb-5">Cobalt</h2>
            <h3 class="heading-md font-weight-600">Log in</h3>
            <p class="text-xl text-gray mb-0">Log in with your university account</p>
          </div>
          <div class="login-card-content">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
              <div class="general-error mb-2">
                <co-form-control-errors [control]="loginForm">
                  <co-form-control-error *ngIf="loginForm.errors?.wrongLoginCredentials" class="">
                    <div class="p-2 badge badge-danger-50 d-block text-left text-danger-900 text-xs font-weight-700">
                      Wrong login credentials</div>
                  </co-form-control-error>
                </co-form-control-errors>
              </div>
              <fieldset class="mb-3">
                <label for="email" class="form-label">Your email</label>
                <input type="text" id="email" class="form-control" formControlName="email"
                  placeholder="name@domain.com">
                <co-form-control-errors [controlName]="'email'"></co-form-control-errors>
              </fieldset>
              <fieldset class="mb-5">
                <label for="password" class="form-label">Password</label>
                <input type="password" id="password" class="form-control" formControlName="password"
                  placeholder="Your account password">
                <co-form-control-errors [controlName]="'password'"></co-form-control-errors>
              </fieldset>
              <fieldset>
                <button class="btn btn-primary btn-block" type="submit">Log in</button>
              </fieldset>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>