<section class="team-list-section">
  <div class="container container-padding-md">
    <div class="row mb-5 align-items-center">
      <div class="col-12 d-flex justify-content-between">
        <h1 class="heading-md mb-0">Team 001</h1>
        <a [routerLink]="['/platform/view', {outlets: {modal: ['teams', 'management', 'add-member']}}]"
          class="btn btn-icon-right-primary">
          Add Member
          <span class="icon-wrapper">
            <i class="icon content-add"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="row" *ngIf="memberList">
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4" *ngFor="let item of memberList">
        <co-team-card-member [memberEL]="item" [apiError]="apiError" [loading]="loading" (viewWork)="onViewMember($event)" (deleteTeam) = "onDeleteTeam($event)" (resetError)= "resetError()"></co-team-card-member>
      </div>
    </div>
  </div>
</section>
