<div class="card">
  <div class="card-header mt-0 pb-0 pt-0">
    <img src="assets/user-placeholder.png" alt="user" class="img-thumbnail border-0 user-icon mr-3">
    <h3 class="heading-sm mb-0">Konrad Muller</h3>
  </div>
  <div class="mx-4 mt-2 mb-2">
    <img src="assets/icons/icons-experiment.svg" alt="experiment" class="img-thumbnail border-0 experiment-icon">
    <span class="text-gray">3 experiments</span>
  </div>
  <div class="custom-card-footer pt-2 pb-2 text-center">
    <button class="btn btn-ghost-primary text-primary mt-0 mb-0 pt-0 pb-0">View Work</button>
  </div>
</div>
