<div class="card">
  <div class="card-header mt-0 pb-0 pt-0 d-flex align-items-center">
    <div class="p-2 bg-primary-100 mr-3 border-radius-md">
      <img src="assets/icons/outlined-editor-insert-photo.svg" alt="user" class="img-thumbnail border-0 bg-transparent">
    </div>
    <h3 class="text-lg mb-0">Konrad Muller</h3>
  </div>
  <div class="mx-4 mt-2 mb-2">
    <span class="text-gray text-xs">3 experiments</span>
  </div>
  <div class="custom-card-footer pt-2 pb-2 text-center">
    <button class="btn btn-ghost-primary text-primary mt-0 mb-0 pt-0 pb-0">View Work</button>
  </div>
</div>
