.main-page {
  overflow: visible;
  margin-top: 3.125rem;
  height: 100%;
  max-height: calc(100vh - 3.125rem);
}

.main-layout {
  overflow: auto;
  height: 100%;
  max-height: calc(100vh - 3.125rem);
}

co-nav {
  position: relative;
  z-index: 1;
}
