<ngx-datatable
  #journalTableRef
  class="material mb-4"
  [rows]="journals"
  [columns]="columns"
  [footerHeight]="40"
  [columnMode]="ColumnMode.flex"
  [headerHeight]="50"
  [externalPaging]="true"
  [count]="10"
  [loadingIndicator]="loading"
  [rowHeight]="'auto'"
  [offset]="page.pageNumber"
  [limit]="page.size"
  (page)="setPage($event)">
  <ngx-datatable-row-detail [rowHeight]="100">
    <ng-template let-row="row" ngx-datatable-row-detail-template>
      <div class="mb-4">
        <span class="font-weight-600 align-middle mr-3">Created:</span>
        <span class="align-middle">{{formatJournalDate(row.startDate)}}</span>
      </div>
      <div>
        <a
          [routerLink]="['/platform/view', {outlets: {modal: ['experiments', 'record', row.id]}}]"
          class="btn btn-icon-right-primary p-1 mr-2">
          <i class="icon red-eye"></i>
        </a>
        <a
          [queryParams]="row"
          [routerLink]="['/platform/view', {outlets: {modal: ['experiments', 'management', 'edit']}}]"
          class="btn btn-icon-right-primary p-1 mr-2">
          <i class="icon pen-white"></i>
        </a>
        <button class="btn btn-icon-right-primary p-1" (click)="onConfirmModalOpen(row)">
          <i class="icon delete"></i>
        </button>
      </div>
    </ng-template>
  </ngx-datatable-row-detail>
  <ng-container *ngFor="let col of columns; let first = first">
    <ngx-datatable-column
      [name]="col.name"
      [prop]="col.prop"
      [sortable]="col.sortable"
      [flexGrow]="col.flexGrow"
      [resizeable]="col.resizeable"
      [canAutoResize]="col.canAutoResize"
      [draggable]="col.draggable"
      [maxWidth]="(first && hideColumns) && col.minWidth"
      [minWidth]="(first && hideColumns) && col.minWidth"
      cellClass="{{(!first && hideColumns) && 'd-none'}}"
    >
      <ng-template ngx-datatable-header-template>
        <span [ngClass]="{'d-none d-lg-inline-block': !first}">{{col.name}}</span>
      </ng-template>
      <ng-template ngx-datatable-cell-template let-row="row" let-value="value" let-expanded="expanded">
        <i
          *ngIf="first"
          [class.datatable-icon-right]="!expanded"
          [class.datatable-icon-down]="expanded"
          title="Expand/Collapse Row"
          (click)="toggleExpandRow(row)"
          class="d-inline-block d-lg-none align-middle"
        ></i>
        <span class="text-wrap text-break align-middle">{{col.defaultValue ? col.defaultValue(value) : value}}</span>
      </ng-template>
    </ngx-datatable-column>
  </ng-container>
  <ngx-datatable-column
    [flexGrow]="1"
    [canAutoResize]="true"
    [resizeable]="true"
    [draggable]="false"
    [sortable]="false"
    cellClass="justify-content-end {{(hideColumns) && 'd-none'}}"
  >
    <ng-template ngx-datatable-cell-template let-row="row">
      <div class="text-right w-100">
        <a [routerLink]="['/platform/view', {outlets: {modal: ['experiments', 'record', row.id]}}]" class="btn btn-icon-right-primary p-1 mr-2">
          <i class="icon red-eye"></i>
        </a>
        <a
          [queryParams]="row"
          [routerLink]="['/platform/view', {outlets: {modal: ['experiments', 'management', 'edit']}}]"
          class="btn btn-icon-right-primary p-1 mr-2">
          <i class="icon pen-white"></i>
        </a>
        <button class="btn btn-icon-right-primary p-1" (click)="onConfirmModalOpen(row)">
          <i class="icon delete"></i>
        </button>
      </div>
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-footer>
    <ng-template
      ngx-datatable-footer-template
      let-rowCount="rowCount"
      let-pageSize="pageSize"
      let-curPage="curPage">
      <datatable-pager
        [page]="curPage"
        [size]="pageSize"
        [count]="rowCount"
        [hidden]="!((rowCount / pageSize) > 1)"
        (change)="journalTableRef.onFooterPage($event)">
      </datatable-pager>
    </ng-template>
  </ngx-datatable-footer>
</ngx-datatable>
