.form-control,
.submitted-note {
  resize: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.notes-wrapper {
  height: 100%;
  overflow-y: auto;
  .submitted-note {
    cursor: auto;
    &:focus {
      outline: 0;
    }
  }
}

.notes-add-wrapper {
  .form-control {
    height: 100%;
    min-height: 2rem;
    max-height: 5rem;
  }
}

.notes-content-wrapper {
  position: absolute;
  top: 0;
  left: 1rem;
  right: 1rem;
  bottom: 0;
}
