<co-modal-layout [config]="{show: true, backdrop: 'static', keyboard: false}" #coModalLayoutRef>
    <div class="modal-header">
        <h3 class="heading-lg">Create new My Team</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
              <co-my-team-form (submitMyTeam)="onFormSubmit($event)" #myTeamForm></co-my-team-form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-ghost-primary" (click)="onModalClose()">Close</button>
        <button class="btn btn-primary" (click)="myTeamForm.submitForm()" [disabled]="loading"
            [class.loading]="loading">Create</button>
    </div>
</co-modal-layout>