$input-border-color: $gray-200;
$input-border-color-hover: $gray-400;
$input-border-color-active: $blue-600;

$input-placeholder: $gray;
$input-value: $black;
$input-height: 3.125rem;

$input-border-radius: $border-radius-sm;

$input-disabled-bg: $input-border-color;
$input-disabled-border: $input-border-color;
$input-disabled-value: $input-value;

$input-invalid-border: $red-600;
