$modal-inner-padding-x: 1.5rem;
$modal-inner-padding-y: 1.5rem;
$modal-box-shadow: 2px 2px 20px 0 rgba($box-shadow-color, 0.4);
$modal-width-md: 48.125rem;

$experiment-record-modal-header-height-sm: 3.125rem;
$experiment-record-modal-header-height: 12.5rem;
$experiment-record-modal-header-box-shadow: 0.125rem 0 0.25rem 0 $box-shadow-rgba-color;
