<div class="card">
  <div class="card-header mt-0 pb-0 pt-0 d-flex align-items-center justify-content-between">
    <div class="d-flex align-items-center">
      <div class="p-2 bg-yellow mr-3 radius-13">
        <img src="assets/icons/user-group.svg" alt="user" class="img-thumbnail border-0 bg-transparent">
      </div>
      <h3 class="text-lg mb-0">{{teamEl.name}}</h3>
    </div>

    <div class="d-inline-flex justify-content-space-between">
      <div class="btn-group" dropdown [autoClose]="true" (click)="stopEventPropagation($event)">
        <i class="icon card-menu card-menu" dropdownToggle aria-controls="dropdown-basic"></i>
        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu"
          aria-labelledby="button-basic">
          <li role="menuitem">
            <a class="dropdown-item pointer" [queryParams]="{id: teamEl.id, name: teamEl.name}"
              [routerLink]="['/platform/view', {outlets: {modal: ['my-team', 'management', 'edit']}}]">Edit</a>
          </li>
          <li role="menuitem">
            <button class="dropdown-item" (click)="onConfirmModalOpen(teamEl.name)">Delete</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="mx-4 mt-2 mb-2">
    <span class="text-gray text-xs">{{displayMember()}}</span>
  </div>
  <div class="custom-card-footer pt-2 pb-2 text-center d-flex justify-content-center" *ngIf="showViewMember"
    (click)="emitViewMember(teamEl.id)">
    <co-member-list [totalMember]="totalMember" [memberAvartarList]="memberAvartarList"></co-member-list>
    <a (click)="stopEventPropagation($event)" [queryParams]="{id: teamEl.id}"
      [routerLink]="['/platform/view', {outlets: {modal: ['teams', 'management', 'add-member']}}]"
      class="d-flex align-items-center btn py-1 px-10 text-cap border radius-5 btn-sm ml-2">
      <span class="align-middle icon team mr-2" title="Invite"></span>Invite
    </a>
  </div>
</div>

<co-confirm-modal [closeOutside]="true" [loading]="loading" [apiError]="apiError" (confirmDelete)="onDeleteConfirm()"
  #confirmModalRef>
</co-confirm-modal>