@import '~src/scss/co-base';

.header {
  padding: 0 1.5rem;
  background: $white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  box-shadow: $header-box-shadow;
  z-index: 1000;
  > .row {
    height: $header-height;
  }
  @media (max-width: 767px) {
    padding: 0 15px;
  }
}

.avatar {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 5px;
  @media (max-width: 991px) {
    width: 30px;
    height: 30px;
  }
}

.notification {
  width: 20px;
  cursor: pointer;
  @media (max-width: 991px) {
    width: 15px;
  }
}

.arrow-btn {
  position: relative;
  &::before {
    position: absolute;
    right: -18px;
    top: 15px;
    content: '';
    border-right: 6px solid transparent;
    border-top: 6px solid #7b7b7b;
    border-left: 6px solid transparent;
  }
}
