<header class="header container-fluid align-items-center">
  <div class="row justify-content-between no-gutters align-items-center">
    <div class="d-flex px-lg-0 align-items-center">
      <div class="mr-sm-2 mr-1">
        <button class="btn icon burger-blue cursor-pointer d-inline-block d-lg-none"
          (click)="mobileNavigationService.navigationVisibility = !mobileNavigationService.navigationVisibility"></button>
      </div>
      <h1 class="mb-0">
        <a class="header-logo" routerLink="/platform/view">
          <img src="assets/icons/my-cobalt-logo.svg" alt="My Cobalt">
        </a>
      </h1>
    </div>
    <div class="d-flex pr-lg-5 pr-3">
      <div class="pr-lg-30 pr-7 pt-lg-6">
        <a class="text-lg font-weight-600 pointer"
          (click)="mobileNavigationService.navigationVisibility = false">
          <span class="align-middle icon menu mr-2 "></span>
          <span class="align-middle  text-df">Workspace</span>
        </a>
      </div>
      <img class="notification mr-lg-30 mr-7" src="assets/icons/alarm.svg" alt="Notification">
      <div class="d-flex" dropdown [autoClose]="true" placement="bottom right">
        <button *ngIf="!loading" class="btn p-0 arrow-btn" aria-controls="dropdown-user-profile" dropdownToggle>
          <img class="avatar" *ngIf="userInfo.avatar" [src]="userInfo.avatar" alt="My Cobalt">
          <span
            class="avatar bg-yellow d-block d-flex align-items-center justify-content-center font-bold fz-lg-24 fz-18 text-uppercase text-white"
            *ngIf="!userInfo.avatar">{{userInfo.name.charAt(0)}}</span>
        </button>
        <co-loading *ngIf="loading" [loading]="true"></co-loading>
        <ul id="dropdown-user-profile" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
          <li role="menuitem">
            <a routerLink="/auth/logout" class="dropdown-item">logout</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>