<div>
  <div class="d-flex justify-content-between mb-20">
    <input (ngModelChange)="searchDebounce($event)" type="text" class="flex-1 border radius-5 px-10 fz-14 outline-none" [(ngModel)]="keySearch" placeholder="Search by name or email"/>
    <co-dropdown class="ml-3" (itemSelected)="onItemSelected($event)" [dropdownList] = 'dropdownList'></co-dropdown>
  </div>
  <co-users-table *ngIf="dropdownList" [userList] = "userList" [userRoles]="dropdownList" (userDeleted) = 'onUserDelete($event)'></co-users-table>
</div>
