<a [routerLink]="['/platform/view/experiments/details/', experiment.id]" class="d-block text-decoration-none">
  <div class="card pl-0">
    <div class="d-flex flex-column flex-sm-row justify-content-between card-header mt-0 align-items-around align-items-sm-center">
      <h3 class="heading-sm mb-4 mb-sm-0">{{experiment.title | truncate:40}}</h3>
      <div class="d-flex align-items-center justify-content-between justify-content-sm-end">
        <div class="d-flex mr-2 mr-sm-4">
          <span class="user-profile-wrapper user-profile-size-md">
            <img src="assets/icons/outlined-editor-insert-photo.svg" alt="User Profile">
          </span>
        </div>
        <div
          *ngIf="experiment.datetime"
          class="d-flex text-center align-items-center mr-2 mr-sm-4">
          <i class="icon calendar mr-2"></i>
          <span class="date text-gray text-xs">{{experiment.datetime | date}}</span>
        </div>
        <div class="mr-2 mr-sm-4">
          <co-badge [status]="experiment.status"></co-badge>
        </div>
        <div class="btn-group" dropdown (click)="stopEventPropagation($event)">
          <i class="icon card-menu card-menu" dropdownToggle aria-controls="dropdown-basic"></i>
          <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu" aria-labelledby="button-basic">
            <li role="menuitem">
              <a
                class="dropdown-item"
                [queryParams]="experiment"
                [routerLink]="['/platform/view', {outlets: {modal: ['experiments', 'management', 'edit']}}]"
              >Edit</a>
            </li>
            <li role="menuitem">
              <a class="dropdown-item disabled" [routerLink]="['/platform/view/experiments/list']">Duplicate</a>
            </li>
            <li role="menuitem">
              <button class="dropdown-item" (click)="onConfirmModalOpen()">Delete</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</a>
