<section class="team-list-section">
  <div class="container container-padding-md">
    <div class="row mb-5 align-items-center">
      <div class="col-12 d-flex justify-content-between">
        <h1 class="heading-md mb-0">My Team</h1>
        <a [routerLink]="['/platform/view', {outlets: {modal: ['my-team', 'management', 'create']}}]"
          class="btn btn-icon-right-primary">
          Create New
          <span class="icon-wrapper">
            <i class="icon content-add"></i>
          </span>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4" *ngFor="let item of myTeamList" (click)="goDetail(item.id)">
        <co-my-team-card [teamCardElement]="item"></co-my-team-card>
      </div>
     
    </div>
  </div>
</section>
