<section class="team-list-section">
  <div class="container">
    <div class="row mb-3 mt-3 align-items-center">
      <div class="col-8">
        <h1 class="heading-md mb-0">My Teams</h1>
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-xs-12 col-sm-3 mt-2">
        <co-my-team-card></co-my-team-card>
      </div>
      <div class="col-xs-12 col-sm-3 mt-2">
        <co-my-team-card></co-my-team-card>
      </div>
      <div class="col-xs-12 col-sm-3 mt-2">
        <co-my-team-card></co-my-team-card>
      </div>
      <div class="col-xs-12 col-sm-3 mt-2">
        <co-my-team-card></co-my-team-card>
      </div>
    </div>
  </div>
</section>
