<section class="team-list-section">
  <div class="container container-padding-md">
    <div class="row mb-5 align-items-center">
      <div class="col-12">
        <h1 class="heading-md mb-0">My Team</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
        <co-my-team-card></co-my-team-card>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
        <co-my-team-card></co-my-team-card>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4 mb-xl-0">
        <co-my-team-card></co-my-team-card>
      </div>
      <div class="col-12 col-md-6 col-lg-4 col-xl-3">
        <co-my-team-card></co-my-team-card>
      </div>
    </div>
  </div>
</section>
