<div class="journal-calendar">
  <div class="row mb-4">
    <div class="col-12 text-center">
      <button class="btn btn-primary" (click)="showAll()">
        View All
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center border-bottom">
      <button class="btn d-inline-flex align-items-center pt-1 pb-1 pr-1 pl-1 mr-2 mb-2" (click)="scrollUp()">
        <i class="icon arrow-up"></i>
      </button>
    </div>
  </div>
  <div class="demo-section">
    <div class="scroll-container-wrapper">
      <div class="scroll-container basic-container" #basicScroll>
        <div class="scroll-content" *ngFor="let group of groups">
          <div class="calendar-body">
            <div class="row date-row mb-2" *ngFor="let date of group"
              [ngClass]="{'selected' : date === selected && selected.selected }" (click)="choseDate(date)">
              <div class="col-6">
                <span class="month">{{date.month}}</span>
              </div>
              <div class="col-6">
                <span class="year">{{date.year}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center border-top">
      <button class="btn d-inline-flex align-items-center pt-1 pb-1 pr-1 pl-1 mr-2 mt-2" (click)="scrollDown()">
        <i class="icon arrow-down"></i>
      </button>
    </div>
  </div>
</div>
