@import '~src/scss/co-theme-variables/variables';

.journal-calendar {
  background-color: $white;
  padding: 1rem 0;
  border-radius: $border-radius-md;
}

.calendar-row {
  padding: 0.25rem 0.5rem;
  border-radius: $border-radius-md;
  &.selected-row {
    background-color: $primary;
    .text-lg {
      color: $white !important;
    }
  }
}

.scroll-container {
  height: 11.3125rem;
  &:focus {
    outline: none;
  }
}

.form-control {
  height: 1.75rem;
}
