<section class="journal-list-section">
  <div class="container">
    <div class="row mb-4 mt-3">
      <div class="col-8">
        <h1 class="heading-md">My Journal</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="journal-content-wrapper">
          <div class="journal-calendar-wrapper mb-4 mb-sm-0">
            <co-journal-calendar-filter (selectDate)="onDateSelected($event)"></co-journal-calendar-filter>
          </div>
          <div class="row flex-lg-grow-1">
            <div class="col-12">
              <div class="row mb-4">
                <div class="col-12 col-sm-7 col-md-4 col-lg-5 col-xl-3">
                  <co-journal-search-filter
                    [searchPhrase]="searchPhrase"
                    (changeSearchPhrase)="onSearchPhrase($event)"
                  ></co-journal-search-filter>
                </div>
                <div class="col-12 col-sm-5 col-md-8 col-lg-7 col-xl-9 text-right">
                  <span *ngIf="journals" class="text-gray text-xs">{{journals.length}} record in total</span>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <ng-container *ngIf="!loading && !journals.length; else journalsTableRef">
                    <co-content-not-found>
                      <div class="row">
                        <div class="col-12">
                          <h1 class="heading-md font-weight-600 mb-2">There is no journals</h1>
                          <p class="text-xl text-color-gray mb-4">Feel free to write a new protocol and describe your findings in your journal</p>
                          <div>
                            <a
                              [routerLink]="['/platform/view', {outlets: {modal: ['experiments', 'management', 'create']}}]"
                              class="mx-4 btn btn-primary">Create New</a>
                          </div>
                        </div>
                      </div>
                    </co-content-not-found>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<ng-template #journalsTableRef>
  <co-journal-table
    [journals]="journals"
    [loading]="loading"
    (changePage)="onPageChange($event)"
    (openConfirmModal)="onConfirmModalOpen($event)"
  ></co-journal-table>
</ng-template>
<co-confirm-modal
  [loading]="deleteExperimentLoading"
  [closeOutside]="true"
  [apiError]="apiError"
  (confirmDelete)="onDeleteConfirm()"
  #confirmModalRef
></co-confirm-modal>
