@import '~src/scss/co-base';

.journal-calendar-wrapper {
  width: auto;
  @include media-breakpoint-up(sm) {
    width: 120px;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.journal-content-wrapper {
  position: relative;

  @include media-breakpoint-up(sm) {
    padding-left: 144px;
  }
}
