html {
  font-size: 16px;
}

html,
body {
  height: 100%;
  background: $white;
  font-family: $font-family-nunito;
}

body {
  overflow: hidden;
}

.main-wrapper {
  width: 100%;
  position: relative;
  &.no-side-nav {
    padding-top: 0;
  }
  @include media-breakpoint-up(sm) {
    &.no-side-nav {
      padding-top: 0;
    }
  }
  @include media-breakpoint-up(lg) {
    padding-left: 240px;
    &.no-side-nav {
      min-height: calc(100vh - 225px);
      padding-left: 0;
      padding-top: 0;
    }
  }
}

.border-radius-lg {
  border-radius: $border-radius-lg;
}

.border-radius-md {
  border-radius: $border-radius-md;
}

.border-radius-sm {
  border-radius: $border-radius-sm;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cursor-pointer {
  cursor: pointer !important;
}

.container-padding-md {
  padding-top: 35px;
  padding-bottom: 35px;
}

.user-profile-wrapper {
  padding: 0.25rem;
  background: $blue-50;
  display: inline-block;
  border-radius: $border-radius-md;
  font-size: $font-size-0;
  &.user-profile-size-lg {
    img {
      @include size(19px, 21px);
    }
  }
  &.user-profile-size-md {
    img {
      @include size(15px, 17px);
    }
  }
}

.bg-white {
  background-color: #fff;
}

.custom-checkbox {
  width: 20px;
  height: 20px;
}
